<h1>Contact</h1>
<div class="row">
  <div class="span5">
    <address>
    <strong>Adam Szczepański</strong><br>
    <a href="mailto:#">aszczepanski92@gmail.com</a>
    </address>

    <address>
      <strong>Poznań University of Technology</strong><br>
      Institute of Computing Science<br>
      Piotrowo 2, 60-965 Poznan, Poland
    </address>
  </div>
  <div class="span7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.1267500747035!2d16.949551999999997!3d52.40437900000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b13aefb7869%3A0xe9077928d99cc929!2sPolitechnika+Pozna%C5%84ska.+Instytut+Informatyki!5e0!3m2!1spl!2spl!4v1403794126044" width="400" height="300" frameborder="0" style="border:0"></iframe>
  </div>
</div>

