<li>
  <span class="content"><%= tournament.name %></span>
  <span class="timestamp">
    Scheduled on <%= tournament.date.strftime("%Y-%m-%d %H:%M") if tournament.date? %>.
  </span>
  <% if current_user == tournament.organizer %>
    <%= link_to "delete", tournament, method: :delete,
                                      data: { confirm: "You sure?" },
                                      title: tournament.name %>
  <% end %>
</li>
