<li>
  <span class="content"><%= link_to tournament.name, tournament %></span>
  <span class="timestamp">
    Scheduled on <%= tournament.date.strftime("%Y-%m-%d %H:%M") %>.
  </span>
  <br>
  <span class="timestamp">
    Registration till <%= tournament.deadline.strftime("%Y-%m-%d %H:%M") %>.
  </span>
</li>
