<h1>Organized tournaments</h1>

<div class="row">
  <div class="span8">
    <% if @tournaments.any? %>
      <h3>Tournaments (<%= @tournaments.count %>)</h3>
      <ol class="tournaments">
        <%= render @tournaments %>
      </ol>
      <%= will_paginate @tournaments %>
    <% end %>
  </div>
</div>
